

@{
    ViewBag.title = "Construction Materials";

}
@section Scripts{
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.js"></script>

}
<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
            <li data-target="#myCarousel" data-slide-to="6"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/img/river-sand-1.png" alt="Sand">
            </div>
            <div class="item">
                <img src="~/img/sand_masters_crushed_sand.jpg" alt="Sand Crushed">
            </div>

            <div class="item">
                <img src="~/img/sand_masters_red_building_sand.jpg" alt="Red Building Sand">
            </div>
            <div class="item">
                <img src="~/img/sand_masters_silica_raw.jpeg" alt="Sand Masters Silica">
            </div>
            <div class="item">
                <img src="~/img/Bricks.jpg" alt="Bricks">
            </div>
            <div class="item">
                <img src="~/img/Bagged-Products_Sand-Masters-1.jpg" alt="Bagged Products">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    </div>
    @*<div class="product-info">
            <img src="~/img/VanGogh.jpg">
            <h3>Mug</h3>
            <ul class="products-props">
                <li>Price:$9.99</li>
                <li>Artist:Van Gogh</li>
                <li>Title:</li>
                <li>Description: Self-Portrait</li>
            </ul>
            <button id="theButton" class="btn btn-success">Buy</button>
            <br />
        </div>
        <div id="theForm">
            <form id="DutchForm">
                <label>
                    Your Name:
                </label>
                <br />
                <input />
                <br />

                <label>
                    Email:
                </label>
                <br />
                <input type="email" />
                <br />
                <label>
                    Subject:
                </label>
                <br />
                <input />
                <br />
                <label>
                    Message:
                </label>
                <br />
                <textarea rows="6"></textarea>
                <br />
                <input type="submit" value="Send Message" />
            </form>
        </div>
        <div id="loginToggle">Login</div>
        <form class="popup-form">
            <div>
                <label>Username</label>
                <input />
            </div>
            <div>
                <label>Password</label>
                <input type="password" />
            </div>
            <div>
                <input type="checkbox" />
                <label>Remember me?</label>
            </div>
            <div>
                <input type="Submit" value="Login" />
            </div>
        </form>*@


